<p>students</p>

<div class="card mt-5">
    <div class="card-body">

        <!-- Cuando el evento onSubmit , suceda se va pasar todo el formulario 'productForm' -->
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">

            <!-- TO UPDATE -->
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="studentService.selectedStudent.$key">

            <div class="form-group">
                <input type="text" class="form-control" name="name" #name="ngModel"
                    [(ngModel)]="studentService.selectedStudent.name" placeholder="Add Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="category" #category="ngModel"
                    [(ngModel)]="studentService.selectedStudent.lastname" placeholder="Add Lastname">
            </div>
            
            <div class="form-group">
                <div class="input-group">
                    <input type="number" class="form-control" name="price" #price="ngModel"
                        [(ngModel)]="studentService.selectedStudent.age" placeholder="Add age">
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Add A Student
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                    <i class="fas fa-sync-alt"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>

